{% extends 'base.html' %}
{% block title%}{{post.title_tag}}{%endblock%}

{% block content %}

<h1>{{post.title}}</h1>
<br>
<small>By: {{post.author.first_name}} {{post.author.last_name}}
    - {{post.post_date}}
</small> 
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
- 
<a href="{% url 'update_post' post.pk%}"><i class='far fa-edit' style='font-size:24px'></i></a> - <a href="{% url 'delete_post' post.pk%}"><i class='far fa-trash-alt' style='font-size:24px'></i></a> 
{% endif %}
{% endif %}
<br>
<hr>
<br>
{{post.body |safe}}

<br><br>
<a href="{% url 'home' %}" class="btn btn-dark">Back</a>
{% endblock content %}


