{% extends 'base.html' %}


{% block content %}
<h1 style="text-align: center;">Post</h1>
<br>
<ul>
{% for post in object_list %}
<li>
   <a href=" {% url 'article-detail' post.pk %} "> {{post.title}}</a> 
   - <a href="{% url 'category' post.category|slugify %}">{{post.category}}</a> 
   - {{post.author.first_name}}  {{post.author.last_name}} - {{post.post_date}} 
   {% if user.is_authenticated %}
   <a href="{% url 'update_post' post.pk%}"><i class='far fa-edit' style='font-size:18px'></i></a> - <a href="{% url 'delete_post' post.pk%}"><i class='far fa-trash-alt' style='font-size:24px'></i></a>
  {% endif %}

   <br>
   <br>
  
    {{post.body |safe |slice:":200"}}  <a href=" {% url 'article-detail' post.pk %} ">Read More</a>
</li>
<hr>
{% endfor %}
</ul>


    

{% endblock content %}